
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    background: rgb(245, 244, 244);
    display: flex;
    
}
.contenedor-sidebar
{
    background: rgb(224, 224, 224);
    border:1px solid rgb(223, 216, 216);
    width: 60px;
    height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-out;
}
.contenedor-sidebar.active{
    width: 110px;
}
.contenedor-sidebar.active .contenedor-encabezado{
    border: none;
}
.contenedor-sidebar aside, ul{
    padding: 1em;
}
.contenedor-encabezado {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    font-weight:800;
    cursor: pointer;
    transition: 0.2s ease-out;
    border-bottom: 1px solid rgb(190, 187, 187);
}

.contenedor-encabezado:hover{
    transform: translateY(-4px);
}

.contenedor-items a{
    position: relative;
    color: rgb(0, 0, 0,.7);
    text-decoration: none;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: .8em;
    border-radius: .3em;
    transition: .3s ease-out;
}
.contenedor-items a i{
    font-size: 1.6em;
}

.contenedor-items a:hover{
    background: #dededf;
    transform: translateY(-4px);
    color: black;
}

.contenedor-items a.active{
    color: #387de6;
}

.contenedor-principal{
    width: 100%;
}

.contenedor-principal .titulo-contenedor{
    align-items: center;
    display: flex;
    background: rgb(224, 224, 224);
    height: 55px;
    justify-content: space-between;
}

.titulo-contenedor .titulo-contenedor-datos{
    display: flex;
    height: 100%;
}

.titulo-contenedor .titulo-contenedor-datos p{
    width: 62px;
    height: 100%;
    line-height: 55px;
    background: rgb(205, 206, 206);
    margin-right: 3em;
    text-align: center;
}

.titulo-contenedor .titulo-contenedor-datos h3{
    line-height: 50px;
}

.contenedor-principal .titulo-contenedor i{
    cursor: pointer;
    margin-right: 1em;
    font-size: 1.5em;
}

.contenedor-principal .titulo-contenedor .contenedor-items-principal{
    display: flex;
    align-items: center;
    height: 100%;
}

.contenedor-principal .titulo-contenedor .contenedor-items-principal i{
    color: gray;
    transition: 0.1s ease-in-out;
    padding: .02em;
}
.contenedor-principal .titulo-contenedor .contenedor-items-principal aside{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;

}
.contenedor-principal .titulo-contenedor .contenedor-items-principal input{
    height: 50%;
    width: calc(100% - 1em);
    position: relative;
    color: rgb(63, 62, 62);
    padding: 0 1em;
    outline: none;
    border: none;
    background: rgb(236, 234, 234);
    box-shadow: 0 .1px 1px .1px rgb(133, 132, 132);
}

.contenedor-principal .titulo-contenedor .contenedor-items-principal aside span{
    position: absolute;
    right: 1em;
    color: gray;
}
.setting:hover{
    transform: translateY(-2px);
    rotate: 60deg;
}
.contenedor-principal .titulo-contenedor .contenedor-items-principal i:hover{
    box-shadow: 0 0 1px 2px rgb(172, 171, 171);
    border-radius: 50%;
}
.tooltip{
    color: white;
    opacity: 0;
    position: absolute;
    right: 800%;
    top: 0;
    transform: translateX(160%) translateY(25%);
    background: #2870dd;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 120px;
    height: 35px;
    border-radius: .5em;
    transition: .2s ease-in-out;
    direction: .2s;
}

.tooltip::before{
    content: "";
    position: absolute;
    left: -17%;
    top: 26%;
    transform: rotate(90deg);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #2870dd;
}

.contenedor-items a:hover .tooltip{
    right: 80%;
    opacity: 1;
}

.perfil{
    position: absolute;
    opacity: 0;
    transform: translateY(40px);
    right: 40px;
    height: 250px;
    width: 250px;
    background: rgb(247, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1px .2px gray;
    transition: 0.2s ease-in-out;
}
.perfil.active{
    transform: translateY(10px);
    opacity: 1;
}

.perfil .perfil-icons{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil .perfil-icons i{
    font-size: 2em;
    background: rgb(194, 194, 194);
    color: gray;
    padding: .5em;
    border-radius: 50%;
}

.perfil .perfil-datos{
    display: flex;
    height: 20%;
    margin-bottom: 1.5em;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.perfil .perfil-datos p{
    font-weight: 500;
}

.perfil .perfil-datos span{
    font-weight: 500;
    font-size: .8em;
    color: rgb(100, 99, 99);
}

.perfil button{
    border: none;
    font-weight: 500;
    padding: 1em 3em;
    color: rgb(94, 93, 93);
}

.perfil button:hover{
    color: rgb(8, 8, 8);
    background: rgb(236, 235, 235);
}

/*------------------------     Seguridad      -------------------------*/
.contenedor-card .contenedor-imagen{
    height: 30%;
    display: flex;
    letter-spacing: .03em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .1px 2px 0 gray;
}
.contenedor-card .contenedor-imagen .contenido-imagen{
    padding: 1em;
}
.contenedor-card .contenedor-imagen .contenido-imagen h4{
    color: rgb(22, 22, 22);
}
.contenedor-card .contenedor-imagen .contenido-imagen span
{
    font-size: .8em;
    color: rgb(75, 75, 75);    
}

.contenido-iconos{
    display: flex;
    align-items: center;
    width: calc(100% - 2.8em);
    font-size: .8em;
}


.contenido-iconos-items{
    display: flex;
    align-items: center;
    margin-right: 1em;
    position: relative;
    
}

.tooltip-contenido-items{
    color: white;
    opacity: 0;
    transition: .2s;
    font-size: .8em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 35px;
    top: -25px;
    transform: translateX(-35%);
    width: 100px;
    height: 30px;
    border-radius: .4em;
    background: #203658;
    z-index: 500;
}

.contenido-iconos-items:hover .tooltip-contenido-items{
    opacity: 1;
    top: -40px;

}

.tooltip-contenido-items::before{
    content: "";
    bottom: -7px;
    left: 2%;
    display: block;
    position: absolute;
    border-top: 10px solid #203658;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.contenido-iconos-items i{
    color: #3981ec;
    margin-right: .2em;
}

.contenedor-actualizacion{
    display: flex;
    padding: 1em;
    color: rgb(0, 0, 0);    
    box-shadow: 0 .1px 2px 0 gray;
    justify-content: space-between;
    font-size: .8em;
}
.contenedor-actividades{
    display: flex;
    font-size: .8em;
    padding: 1em;
    flex-direction: column;   
    box-shadow: 0 .1px 2px 0 gray;
    justify-content: space-between;
}

.contenedor-actividades p{
    color: rgb(0, 0, 0); 
    padding: 0em 0 1em 0;
}

.contenedor-actividades span{
    color: rgb(119, 119, 119); 
}

.contenedor-actividades .cuerpo-actividades{
    display: flex;
    align-items: center;
    height: 4em;
    box-shadow: 0px 2px .1px 0px rgb(207, 207, 207);
}

.contenedor-actividades .cuerpo-actividades .card-actividades{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/*------------ Cuerpo del modulo -------------*/


.contenedor-card .contenedor-imagen .imagen-principal{
    font-size: 6em;
    color: gray;
}

.contenedor-contenido{
    display: flex;
    width: 100%;
}

.contenedor-card{
    width: 18%;
    box-shadow: 0 0 2px 1px rgb(202, 201, 201);
    
}

.contenedor-main{
    width: 100%;
}

.contenedor-secundario
{
    margin: 10px;
    height: calc(100% - 20px);
}

.contenedor-secundario .contenido-main-card{
    display: flex;
    flex-wrap: wrap;
    border-radius: .2em;
    margin: 1em;
}

.card-contenido{
    display: flex;
}

.contenedor-area{
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
}
.card{
    box-shadow: 0 0 1px 1px rgb(207, 207, 207);
    overflow: auto;
}
.card .card-titulo{
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0em 1em;
}

.card .card-titulo span{
    position: relative;
    color:#0066ff;
    font-weight: 400;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.card .card-titulo span::before{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    transition: .2s;
    height: 2px;
    background: #5991e6;
}

.card .card-titulo span:hover{
    color: #4d94fd;
    transform: translateY(-2px);
}

.card .card-titulo span:hover::before{
    width: 100%;
}


.contenedor-area i{
    cursor: pointer;
    display: inline-block;
    width: 50px;
    border: 2px solid rgb(197, 197, 197);
    border-radius: .2em;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .7em;
}

.contenedor-area i.active{
    border-color: rgb(11, 112, 243);
    box-shadow: 0 0 1px .2px rgb(11, 112, 243);
}

.contenedor-area span{
    width: 100%;
    font-size: .8em;
    color: rgb(34, 34, 34);
    font-weight: 400;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*-------------- Tabla Principal -----------------*/

.contenido-main-card .card-contenido table{
    width: 100%;
    font-size: .8em;
}

.contenido-main-card .card-contenido table th{
    text-align: start;
    color: rgb(19, 19, 19);
    cursor: pointer;
    padding: .5em;
    border-bottom: .15em solid rgb(202, 201, 201);
}
.contenido-main-card .card-contenido table td{
    padding: .5em;
    border-bottom: .15em solid rgb(207, 207, 207);
    color: rgb(10, 10, 10);
}
.contenido-main-card .card-contenido table th:hover span{
    opacity: 1;
}
.contenido-main-card .card-contenido table tbody tr td:nth-child(4)
{
    color: #0066ff;
}
.contenido-main-card .card-contenido table tbody tr td:nth-child(5)
{
    color: #ff0000;
}
.contenido-main-card .card-contenido table tbody tr td:nth-child(6)
{
    color: #2f00ff;
}
.contenido-main-card .card-contenido table th span{
    opacity: 0;
    font-size: 1em;
    transition: 0.3s ease-in-out;
    height: 100%;
}